<div class="conatainer">
    <div class="form-container">
        <form [formGroup]="postCustomerForm">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" required formControlName="name">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required formControlName="email">
            </div>
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="tel" name="phone" id="phone" required formControlName="phone">
            </div>
            <button type="submit" (click)="postCustomer()">Post</button>
        </form>
    </div>
</div>
